@{
    ViewData["Title"] = "NodeServices Benchmarks";
}

<p><a asp-route="@RouteNames.Benchmarks" asp-route-viewtype="RazorTemplate">No Template Service</a></p>
<p><a asp-route="@RouteNames.Benchmarks" asp-route-viewtype="NodeServices">With Template Service</a></p>
<p><a asp-route="@RouteNames.Benchmarks" asp-route-viewtype="CachedNodeServices">With Cached Template Service</a></p>
