@{
    ViewData["Title"] = "With View Component";
}

<p><a asp-route="@RouteNames.NoTemplateServiceRoute">No Template Service</a></p>
<p><a asp-route="@RouteNames.WithTemplateServiceRoute">With Template Service</a></p>
<p><a asp-route="@RouteNames.WithCachedTemplateServiceRoute">With Cached Template Service</a></p>
