@{
    ViewData["Title"] = "With View Component";
}

<a asp-route="@RouteNames.NoTemplateServiceRoute">No Template Service</a>
<a asp-route="@RouteNames.WithTemplateServiceRoute">With Template Service</a>
