@{
    ViewData["Title"] = "No View Component";
}

<div class="c-logo">
    <a href="/" aria-label="Just Eat Homepage">
        <div class="c-logo-img">
            <img alt="" src="/img/logos/je-logo-v1.svg" width="152" height="30" />
        </div>

        <span class="is-visuallyHidden">Just Eat</span>
    </a>
</div>
