@using NodeServicesBenchmark.Website.Models
@{
    var viewType = (ViewType)ViewData["viewType"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NodeServicesBenchmark</title>
</head>
<body>
    @await Component.InvokeAsync("Header", new { viewType })

    @RenderBody()
</body>
</html>
