@inject IViewLocalizer Localizer

<!-- Razor -->
<div class="skipTo">
    <a class="is-visuallyHidden focusable u-text-marker" href="#skipToMain">
        @Localizer["header_skipToMainText"]
    </a>
</div>

<header class="c-header">
    <a href="/"><h1>Home</h1></a>
</header>
